*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    /* background-color: red; */
}
.container {
    // background-color: green; 
    $padding-inline-value: 64px;
    max-width: 1200px + 2 * $padding-inline-value;
    margin-inline: auto;
    padding-inline: $padding-inline-value;
  }
.wrapper {
    /* background-color: blue; */
    padding-block : 64px;

}
body {
    color: black;
}

.main{
  &__media{
    background-color: rgb(206, 232, 255);
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.button {
    width: fit-content;
    background-color: cornflowerblue;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    text-align: center;
    &--type-text{
      background-color: unset;
      color: cornflowerblue;
      padding-inline: 0;
    }
}

.nav {
    background-color: black;
    color: white;
    font-weight: 700;
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-block: 12px;
    }
    &__menuWrapper {
      display: flex;
      gap: 24px;
      align-items: baseline;
    }
  }

  #hero1 {
    text-align: center;
    .button {
      margin-inline: auto;
    }
    .main {
      &__text {
        max-width: 600px;
        margin-bottom: 24px;
        margin-inline: auto;
      }
      &__media {
        aspect-ratio: 16/9;
      }
    }
    h2 {
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 24px;
    }
  }

  #hero2{
    background-color: aliceblue;
    .wrapper{
      display: flex;
      gap: 24px;
      align-items: center;
      & > * {
        flex: 1;
      }
    }
    .main{
      &__text{
        &__buttonWrapper{
          display: flex;
          gap: 16px;
        }
      }
      &__media{
        aspect-ratio: 4/3;
      }
    }
    h2 {
      margin-bottom: 16px;
    }
    p {
      max-width: 40ch;
      margin-bottom: 24px;
    }
}


